@import 'tailwindcss';

@plugin "daisyui/theme" {
  name: 'mytheme';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #5a4126;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #6a6666;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #3c4753;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(16.51% 0.015 326.261);
  --color-neutral-content: oklch(83.302% 0.003 326.261);
  --color-info: oklch(79.49% 0.063 184.558);
  --color-info-content: oklch(15.898% 0.012 184.558);
  --color-success: oklch(74.722% 0.072 131.116);
  --color-success-content: oklch(14.944% 0.014 131.116);
  --color-warning: oklch(88.15% 0.14 87.722);
  --color-warning-content: oklch(17.63% 0.028 87.722);
  --color-error: oklch(77.318% 0.128 31.871);
  --color-error-content: oklch(15.463% 0.025 31.871);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}