.homePage{
    height: 100vh;    /* Full height of the viewport */
    overflow: hidden; 
}


.mainPageImage {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}