@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.nav-container{
    top:0;
    background-color: black;
    width: 100%;
    display:flex;
    text-align: center;
    justify-content: space-between;
    gap: 2rem;
    transition:all 0.5s;
    position: fixed;
    z-index: 999;
    opacity: 90%;
    color: white;
    padding: 0 1rem;
}

.nav-scrolled{
    background-color: transparent;
}

.nav-title{
    font-size: 1.7rem;
    font-family: "Jua", sans-serif;
    display: flex;
    align-items: center;
}

.nav-menu{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav-menu ul{
    height:75%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1.25rem;
}

.nav-menu li{
    border-radius: 12px;
    display: flex;
    height:100%;
    align-items: center;
    padding: 20px 5px;
    display: flex;
    font-size: 1.25rem;
    font-family: "Jua", sans-serif;
}


.nav-menu-active{
    /* color: #8fbd9c; */
    background-color: #4e5c9a;
}

/* .nav-menu li:hover{
    color:#667d84 ;
} */